option_settings:
  - option_name: KNOWLEDGE_DB_NAME
    value: knowldege
  - option_name: CONVERSATION_DB_NAME
    value: conversation
  - option_name: SUPERCHARGER_DB_NAME
    value: supercharger
  - option_name: CONVERSATION_HISTORY_DB_NAME
    value: conversation_history
  - option_name: STATE_DB_NAME
    value: bot_state
  - option_name: LUIS_APP_ID
    value: placeholder
  - option_name: LUIS_APP_SUBSCRIPTION_KEY
    value: placeholder
  - option_name: LUIS_APP_VERSION
    value: 0.1
  - option_name: LUIS_ENDPOINT_V2
    value: https://westus.api.cognitive.microsoft.com
  - option_name: LUIS_PROGRAMMATIC_API_KEY
    value: placeholder
  - option_name: MICROSOFT_APP_ID
    value: placeholder
  - option_name: MICROSOFT_APP_PASSWORD
    value: placeholder
  - option_name: LOG_LEVEL
    value: debug
  - option_name: DIRECT_LINE_SECRET
    value: placeholder
  - option_name: BOT_ID
    value: renewsure
  - option_name: ALEXA_BRIDGE_PATH_PREFIX
    value: /alexa
  - option_name: CUSTOMER_API_ENDPOINT
    value: https://wfdcctnrpc.execute-api.eu-west-2.amazonaws.com/production
  - option_name: POLICY_DETAILS_API_ENDPOINT
    value: https://pp6adzlku2.execute-api.eu-west-2.amazonaws.com/production
  - option_name: SOURCE_EMAIL
    value: esureinnovationlab@gmail.com